absl-py
adjustText
again
ansiwrap
asttokens
attrs
backcall
certifi
charset-normalizer
click
comm
contourpy
cvxpy
cycler
debugpy
decorator
ecos
entrypoints
executing
fastjsonschema
fonttools
idna
importlib-metadata
importlib-resources
ipykernel
ipython
itables
jedi
joblib
jsonschema
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nbclient
nbformat
nest-asyncio
numpy
optbinning
ortools
osqp
packaging
pandas
papermill
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qdldl
requests
ropwr
scikit-learn
scipy
scs
six
stack-data
tenacity
textwrap3
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
zipp
